.region {
  &__container {
    padding: 1rem;
    background-color: #e09393;
    border-radius: 10px;
  }

  &__title {
    text-align: center;
  }

  &__grid {
    display: grid;
    margin-top: 1rem;
    justify-content: space-around;
    justify-items: center;
    row-gap: 1.5rem;

    @media only screen and (min-width: 56.25rem) {
      grid-template-columns: auto auto auto auto;
      gap: 1rem;
    }
  }

  &__card {
    background-color: #f1e750;
    border-radius: 5px;
    min-height: 3rem;
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
