.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #bcccee;

  border-radius: 0.4rem;
  max-width: 23.4375rem;
  margin: auto;
  overflow: hidden;

  @media only screen and (min-width: 56.25rem) {
    flex-direction: row;
    max-width: 75rem;
  }

  > * {
    padding: 1rem;
  }
}
