<header>
  <a href="/"><h1>PokéDex</h1></a>
</header>

<div class="container" role="main">
  <div class="panel__left">
    <router-outlet></router-outlet>
  </div>
  <div class="panel__right" *ngIf="showPanel">
    <h3>Testing</h3>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
      debitis similique recusandae eligendi. Beatae nam accusamus sunt ipsam
      ratione quasi doloribus a accusantium, distinctio praesentium debitis
      dicta quis illum voluptatem impedit perspiciatis eum illo et vero autem
      obcaecati tempora doloremque?
    </div>
  </div>
</div>
