<div class="rg-pkmn__container">
  <h1>{{ region.name }} Pokemon</h1>

  <div class="rg-pkmn__grid">
    <div
      class="rg-pkmn__card type-colour--{{ p.types[0].type.name }}"
      routerLink="/pokemon/{{ p.id }}"
      *ngFor="let p of pokemon"
    >
      <img
        src="{{ p.sprites.other['official-artwork'].front_default }}"
        alt=""
        width="150px"
        class="rg-pkmn__image"
      />
      <span>{{ p.name | titlecase }}</span>
    </div>
  </div>

  <button (click)="nextPage()">Next</button>
</div>
